section#contact {
  margin-top: 48px;
  div.content {
    @include span-columns(10 of 12);
    @include shift(1);
    @include media($tablet) {
      @include span-columns(6 of 12);
      @include shift(5);
    }
    @include media($laptop) {
      @include span-columns(7 of 12);
      @include shift(4);
    }
    h1 {
      font-size: modular-scale(4);
      text-align: center;
    }
    form {
      margin-bottom: 64px;;
      label {
        font-weight: 400;
      }
      input {
      }
    }
  }
}
