<section id="contact">
  <div class="content">
    <h1>How can I help you?</h1>
    <form action="http://formspree.io/hello@jeddelacruz.com" method="POST">
      <input type="hidden" name="_subject" value="New submission! (delajed.com)">
      <label for="name">Full name</label>
      <input id="name" type="text" name="name" placeholder="Your name" required>
      <label for="email">Email address</label>
      <input id="email" type="email" name="_replyto" placeholder="Your email address" required>
      <label for="company">Company name</label>
      <input id="company" name="company" placeholder="Your company's name">
      <label for="website">Website</label>
      <input id="website" name="website" placeholder="Your company's website">
      <label for="message">Your message</label>
      <textarea id="message" name="message" placeholder="Your message" required></textarea>
      <input type="text" name="_gotcha" style="display:none">
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks" />
      <input type="submit" value="Send">
    </form>
  </div>
</section>
